a {
    text-decoration: none;
    color: white;
}

.column {
    padding: 0 20px 0 20px;
}

.speakingcontainer {
    width: 100%;
}

.speakingsection {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 20px;
    display: flex;
    flex-flow: row;
}

.speakingtablerow {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width:100%;
    border: 1px solid rgba(0,0,0,0.05);
}

.speakingtablecell {
    height: 50px;
    text-align: left;
    font-weight: 500;
    border-width: 0 1px 0 1px;
    border-color: rgba(0,0,0,0.05);
    border-style: solid;
    padding: 5px 5px 5px 5px;
}

.speakingtable {
    margin-bottom: 6vh;
}