.lrndescription {
  display: flex;
  flex-flow: row;
  padding: 5% 5vw 5vh 5vw;
}

.lrndescriptionleft,
.lrndescriptionright {
  width: 50%;
}

.lrndescriptionleft {
  text-align: left;
}

.lrndescriptionright {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.tablecontainer {
  width: 50%;
  display: flex;
  flex-flow: column;
}

.tablerow {
  width: 30vw;
  display: flex;
  flex-flow: row;
}

.line {
  max-width: 80px;
  border-radius: 4px;
  border: 2px solid green;
  margin-bottom: 20px;
}

.lrnimage {
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
}

@media screen and (max-device-width: 650px) {
  .lrndescription {
    flex-flow: column-reverse;
    padding-top: 175px;
  }
  .lrndescriptionleft,
  .lrndescriptionright {
    width: 100%;
  }
  .tablecontainer {
    align-items: center;
    justify-content: center;
    min-width: 95%;
  }
  .tablerow {
    width: 70vw;
  }
  .lrnimage {
    width: 50%;
    height: 50%;
  }
  .lrndescriptionright {
    justify-content: center;
    align-items: center;
  }
}