a {
    text-decoration: none;
    color: white;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.left {
    width: 38%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.right {
    width: 50%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.contact {
    font-size: 0.8rem;
    width: auto;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.column {
    padding: 0 20px 0 20px;
}

.writingcontainer {
    width: 100%;
}

.writingsection {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 20px;
    display: flex;
    flex-flow: row;
}

.writingtableheader,
.writingtablerow {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width:100%;
    padding: 5px 0 5px 0;
}

.writingtableheader {
    background-color: rgba(0,0,0, 0.6);
    color: white;
    font-weight: 500;
}

.writingtablerow {
    background-color:white;
}