.companycontainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.companycontent {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.companybanner {
  background-image: url('../assets/carousel2.jpg');
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  height: 270px;
  width: 100%;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.companytitle {
  text-align: center;
  line-height: 1.4;
  font-weight: 500;
  padding-bottom: 20px;
  border-bottom: 2px solid red;
}

.companybannerbottom {
  background-image: url('../assets/carousel3.jpg');
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.companysociallinks {
  width: 180px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.companysociallogo {
  height: 80px;
  margin-bottom: 0;
  padding: 10px;
  width: 80px;
}

@media screen and (max-device-width: 650px) {
  .companybanner {
    margin-top: 70px;
  }
}