.contactcontainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
  width: 100%;
}

.contactcontent {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.contactheader {
  text-align: center;
  margin-bottom: 20px;
}

.contactdetailssection {
  width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  height: 200px;
}

.contactdetailscell {
  width: 200px;
  height: 200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.iconholder {
  height: 130px;
}

.contactdetailstext {
  height: 80px;
}

@media screen and (max-width: 800px) {
  .contactdetailssection {
    flex-flow: column;
    height: auto;
  }
  .contactdetailscell {
    height: auto;
    margin-bottom: 90px;
  }

  .contactdetailstext {
    height: auto;
  }
}

@media screen and (max-device-width: 650px) {
  .contactdetailssection {
    flex-flow: column;
    height: auto;
    margin-top: 20px; 
  }
  .contactdetailscell {
    padding: 20px;
    margin-top: 
  }
  .contactcontent {
    margin-top: 150px;
  }
}