.faqcontainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.faqtitle {
  text-align: center;
  font-size: 2.2rem;
  height: auto;
  padding: 20px 0 20px 0;
  background-color: #9CC152;
  width: 70.2vw;
  margin-top: 50px;
}

.faqquestion {
  display: flex;
  flex-flow: row;
  align-items: center;
  box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.2);
  padding: 5px;
  cursor: pointer;
  width: 70vw;
  border: 1px solid rgba(0,0,0,0.07)
}

.faqanswer {
  padding: 10px 10px 20px 35px;  
  display: none;
  width: 70vw;
}

.addicon {
  margin-bottom: 0;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

@media screen and (max-device-width: 650px) {
  .faqquestion {
    width: 80vw;
  }
  .faqtitle {
    width: 80.5vw;
    margin-top: 30px;
  }
  
  .faqanswer {
    width: 80vw;
  }
  .faqcontent {
    margin-top: 150px;
  }
  .faqcontainer {
    padding-top: 10px;
  }
}