.homecontainer {
  padding: 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.hometop {
  width: auto;
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.hometopleft,
.hometopmiddle,
.hometopright {
  height: auto;
}

.recognitionText {
  text-align: center;
}

.recognitionTitle {
  text-decoration: underline;
  margin-top: 20px;
}

.recognitionSubtitle {
  font-size: 1.3rem;
  text-align: center;  
}

.hometopleft {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding-top: 20px;
}

.hometopright {
  width: 950px;
  height: 475px;
}

.homebottom {
  padding-top: 20px;
  background-color: rgba(0,0,0,0.05);
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  height: auto;
  padding-bottom: 5vh;
  text-align: center;
}

.homesection {
  display: flex;
  flex-flow: row;
  width: 100%;
  padding: 30px 0 30px 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.homesectionleft {
  width: 25%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.homesectionright {
  padding-left: 15px;
}

.homesectionright {
  width: 75%;
}

.homebulletmain {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  font-size: 19px;
  font-weight: 500;
  padding-bottom: 5px;
}

.homebulletsub {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding-left: 25px;
  font-size: 15x;
  padding-bottom: 5px;
}

.homemainicon {
  height: 30px;
  width: 30px;
  margin-bottom: 0;
}

.homecheckicon {
  height: 15px;
  width: 15px;
  margin-bottom: 0;
  margin-top: 5px;
  margin-right: 5px;
}

.homecarouselcontainer {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.homecarouselleft {
  padding-left: 5px;
  width: 8%;
  height: 50px;
  z-index: 99;
}

.homecarouselcontent {
  height: 100%;
  width: 84%;
  z-index: 0;
}

.homecarouselright {
  padding-right: 5px;
  width: 8%;
  height: 50px;
}

.homenavigationbuttons {
  cursor: pointer;
  margin-bottom: 0;
  width: 50px;
  height: 50px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  z-index: 3;
}

.homenavigationbuttons:hover {
  background-color: rgba(255,255,255,0.8);
}

.homesideimagerecognition {
  height: 200px;
  width: 423px;
  margin-bottom: 0;
}

.homesideimagetest {
  height: 275px;
  width: 275px;
  cursor: pointer;
  margin-bottom: 0;
}

.homeinfobar {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-bottom: 25px;
  font-size: 17px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.homelinkmore {
  color: black;
  font-weight: 500
}

.homelinkmore:hover {
  color: rgba(0,0,0,0.6);
}

.homenavbar {
  display: flex;
  align-items: center;
  flex-flow: row;
  justify-content: center;
  margin: 20px 0 20px 0;
  height: 210px;
}

.homenavbarimages {
  width: 253px;
  height: 180px;
  padding: 2px;
  margin-bottom: 0;
}

.homenavbarimages:hover {
  width: 280px;
  height: 199.2px;
}

.homecarouselinside {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  z-index: 0;
}

.homecarouselone {
  position: relative;
  top: -15px;
  left: -75px;
  height: 475px;
  width: 60%;
  z-index: 0;
  background-color: rgba(0,0,0,0.4);
}

.homecarouselfour {
  position: relative;
  top: -15px;
  left: -62px;
  height: 400px;
  width: 60%;
  z-index: 0;
  display: flex;
  flex-flow: column;
}

.homecarouselonetextcontainerfour {
  margin-top: 60px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 50px;
}

.homecarouselfourtext {
  margin-top: 10px;
  padding: 5px;
  color: white;
  font-size: 22px;
  width: 240px;
  text-align: right;
  line-height: 1.4;
}


.homelrntitle {
  display: flex;
  flex-flow: row;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: white;
  z-index: 0;
  position: relative;
  padding-top: 20px;
}

.homelrnimage {
  margin-bottom: 0;
  width: 80px;
  height: 80px;
}

.homecarouselonetextcontainer {
  display: flex;
  justify-content: flex-end;
  width: auto;
  right: 0;
  font-size: 22px;
}

.homecarouselonetext {
  margin-top: 50px;
  padding: 10px;
  color: white;
  width: 250px;
  font-size: 22px;
}

.homefacebookbutton {
  background-color: rgb(28, 55, 99);
  border: none;
  color: white;
  margin-top: 50px;
}

@media screen and (max-device-width: 650px) {
  .homecontent {
    margin-top: 150px;
  }
  .homeinfobar {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 250px;
  }
}

@media screen and (max-width: 1200px) {
  .hometopleft {
    width: auto;
  }
}

@media screen and (max-width: 900px) {
  .hometopleft {
    width: auto;
  }
  .hometopright {
    width: 750px;
    height: 500px;
  }
  .homecarouselone {
    top: 35px;
    left: -60px;
    height: 400px;
  }
}


@media screen and (max-width: 800px) {
  .hometopleft {
    width: 70%;
  }
  .recogntionTitle {
    margin-top: 10px;
  }
  .homenavbarimages {
    width: 154.6px;
    height: 110px;
  }
  .homecarouselinside {
    height: 100%;
    width: 100%;
  }
  .homecarouselone {
    top: 75px;
    left: -48px;
    height: 320px;
    width: 60%;
  }
  .homecarouselcontainer {
    width: 80%;
  }
  .homecarouselleft {
    width: 8%;
    height: 50px;
  }
  .homecarouselcontent {
    height: 100%;
    width: 84%;
  }
  .hometopright {
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: center;
  }
  
  .homecarouselright {
    width: 8%;
    height: 50px;
  }
  .homesection {
    width: 100%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .homesectionright {
    width: 100%;
    padding: 10px;    
  }
  .homebottom {
    padding: 10px;
  }
}

@media screen and (max-width: 575px) {
  .hometopright {
    display: none;
  }
}

@media screen and (max-device-width: 650px) {
  .homenavbarimages {
    height: 90px;
    width: 90px;
  }
}