.lrndetailscontainer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  font-size:15px;
}


.lrnexamcontainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  font-size:15px;
}

@media screen and (max-device-width: 650px) {
  .lrnexamcontainer {
    margin-top:150px;
  }
}