.lrncontainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  font-size:15px;
}

.examlinks {
  display: flex;
  flex-flow: row;
}

.lrnsubtitle {
  list-style: square;
  margin-left: 25px;
}

.lrnlistcontainer {
  display: flex;
  flex-flow: row;
  width: 90%;
  font-size: 15px;
  text-align: left;
}

.lrnlistleft,
.lrnlistright {
  padding: 10px;
  width: 50%;
  line-height: 1.5;
}

.lrnlistleft > li,
.lrnlistright > li {
  margin-bottom: 5px;
}

.lrnIcon {
  width: 12vw;
  height: 12vw;
  padding: 20px;
}

@media screen and (max-device-width: 650px) {
  .lrnlistcontainer {
    display: flex;
    flex-flow: column;
  }
  .lrnlistleft,
  .lrnlistright {
    padding: 0 30px 20px 10px;
    width: 100%;
  }
  .lrnIcon {
    width: 150px;
    height: 150px;
    padding: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .lrnIcon {
    width: 20vw;
    height: 20vw;
    padding: 20px;
  }  
}

@media screen and (max-width: 600px) {
  .examlinks {
    flex-flow: column;
  }
  .lrnIcon {
    width: 60vw;
    height: 60vw;
    padding: 20px;
  }
  .lrnlistcontainer {
    display: flex;
    flex-flow: column;
  }
  .lrnlistleft,
  .lrnlistright {
    width: 90%;
  }
}