.materialcontainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 200px;
}

.materialcontent {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.materialsection {
  height: 350px;
  display: flex;
  flex-flow: row;
}

.materiallinkimage {
  width: 290px;
  height: 290px;
  padding: 10px;
  cursor: pointer;
}

.materiallinkimage:hover {
  width: 300px;
  height: 300px;
}

.materialbox {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.materialcell {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.materialcelllink {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-device-width: 650px) {
  .materialcontent {
    margin-top: 150px;
  }
}

@media screen and (max-width: 1200px) {
  .materiallinkimage {
    width: 150px;
    height: 150px;
  }
  .materiallinkimage:hover {
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width: 700px) {
  .materialsection {
    flex-flow: column;
    height: auto;
  }
}