.materialvideoscontainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.materialvideoscontent {
  margin-top: 50px;
  height: 700px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

.materialvideosbanner {
  color: white;
  width: 100%;
  height: 300px;
  background-image: url('../assets/carousel1.jpg');
  background-color: rgba(0,0,0,0.5);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.materialvideosplayer {
  height: 550px;
  width: 70%;
}

@media screen and (max-device-width: 650px) {
  .materialvideosbanner {
    margin-top: 80px;
  }
  .materialvideosplayer {
    height: 250px !important;
    width: 95% !important;
  }
}

@media screen and (max-width: 800px) {
  .materialvideosplayer {
    height: 400px;
    width: 90%;
  }
}