.materialpaperscontainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.materialpaperscontent {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.materialpapersrow {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  display: flex;
  flex-flow: row;
}

.materialpaperscell {
  height: 300px;
  width: 320px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  color: black;
}

.pdficon {
  height: 90px;
  width: 80px;
}

.materialpaperscelltext {
  color: black;
  text-align: center;
}

@media screen and (max-device-width: 650px) {
  .materialpaperscontent {
    margin-top: 150px;
  }
}

@media screen and (max-width: 1000px) {
  .pdficon {
    height: 60px;
    width: 50px;
  }
  .materialpaperscell {
    height: 200px;
    width: 240px;
  }
}

@media screen and (max-width: 800px) {
  .materialpaperscell {
    height: 200px;
    width: 240px;
  }
  .materialpapersrow {
    flex-flow: column;
  }
}