.newscontainer {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 200px;
  width: 100%;
}

.newscontent {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  height: 500px;
}

.newssociallogo {
  height: 80px;
  width: 80px;
  padding: 5px;
  margin-bottom: 0;
}

.newslinks {
  display: flex;
  flex-flow: row;
}

@media screen and (max-device-width: 650px) {
  .newscontent {
    margin-top: 120px;
  }
}