.registrationcontainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.registrationcontent {
  margin-top: 50px;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  padding-bottom: 200px;
}

.registrationbox {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
  height: 350px;
  width: 350px;
  text-align: center;
  padding: 5px;
  margin: 20px 0 40px 0;
  line-height: 2;
}

.registrationpdficon {
  height: 80px;
  width: 70px;
}

.registrationnamechange {
  width: 70%;
  text-align: center;
}
