a {
    text-decoration: none;
    color: white;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.left {
    width: 38%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.right {
    width: 50%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.contact {
    font-size: 0.8rem;
    width: auto;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.column {
    padding: 0 20px 0 20px;
}

.listeningcontainer {
    width: 100%;
}

.listeningsection {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 20px;
    display: flex;
    flex-flow: row;
}

@media screen and (max-device-width: 650px) {
    .listeningsection {
        flex-flow: column;
        width: 100%;
    }
    .column {
        width: 300px;
    }
    .listeningcontainer {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .lrnbreakdownright {
        width: 100%;
        padding: 10px 10px 10px 20px;
    }
}