a {
    text-decoration: none;
    color: white;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.headersociallinks {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.headersociallink {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    color: black;
}

.headertopright {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.headeremaillink {
    font-weight: 500;
    color: rgba(0,0,0,1);
}

.headeremaillink:hover {
    color: rgba(0,0,0,0.5);
}

.container {
    width: 85vw;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    background-color: white;
    z-index: 99;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.containerSticky {
    z-index: 99;    
    margin-bottom: 60px;
}

.top,
.middle {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0 20px 0 20px;
    z-index: 99;
}

.top {
    background-color: white;
    height: 50px;
}

.middle {
    height: 110px;
    background-color: white;
}

.bottom {
    height: 60px;
    background-color: #2F75A1;
}

.bottomSticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    background-color: #2F75A1;
    z-index: 99;
    box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.5) !important;
}

.left {
    width: 38%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.right {
    width: 50%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.links {
    font-size: 0.7rem;
    width: auto;
    text-align: left;
    padding-left: 5px;
}

.contact {
    display: flex;
    flex-flow: column;
    font-size: 0.8rem;
    width: auto;
    text-align: right;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.navLinks {
    display: flex;
    flex-flow: row;
    justify-content: center;
    list-style: none;
    align-self: center;
    padding: none;
    margin: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
    height: 100%;
    z-index: 99;
}

.navLinks > li {
    margin-bottom:0;
}

.dropdownlink {
    cursor: pointer;
    height: 60px;
    margin: 0 5px 0 5px;
}

.dropdownlinkburger {
    background-color: #95BD52;
    margin: 5px 5px 5px 5px;
    width: 85vw;
    color: white;
    cursor: pointer;
    height: 45px;
    font-size: 1.1rem;
    padding: 11px 15px 11px 15px;
}

.headersociallogoblack {
    height: 40px;
    width: 40px;
    margin-bottom: 0;
}

.dropdownlink:hover {
    background-color: #95BD52;
}

.dropdowncontentlrn {
    width: auto;
    position: absolute;
    background-color: #2F75A1;
    display: none;
    flex-flow: column;
    line-height: 2.5;
    z-index: 99;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.dropdowncontentmaterial {
    display: none;
    width: auto;
    position: absolute;
    height: auto;
    background-color: #2F75A1;
    flex-flow: column;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);    
}

.dropdownsublinkslrn {
    height: auto;
    padding: 8px;
    width: 200px;
}

.dropdownsublinksmaterial {
    height: auto;
    padding: 8px;
    width: 280px;
}

.dropdownsublinkslrn:hover {
    background-color: #95BD52;
}

.dropdownsublinksmaterial:hover {
    background-color: #95BD52;
}

.burgercontainer {
    width: 100%;
    height: 100%;
    background-color: #2F75A1;
    position: fixed;
    left: 0;
    top: 0;
    z-index:4;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.burgericon {
    height: 40px;
    margin-bottom: 0;
}

.burgerbuttoncontainer {
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 4.5vw;
}

.lrnsublinksburger {
    width: 80vw;
    height: auto;
}

.headerbreak {
    display: none;
}

.lrnnewmenu {
    position: fixed;
    width: 100px;
    height: 200px;
    left: 200px;
    background-color: red;
}

.headerlanguages {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: auto;
    font-weight: 600;
    padding-right: 10px;
}

.headertopleftside {
    display: flex;
    flex-flow: row;
    align-items: center;
    font-size: 0.9rem;
}

.headerdropdownlanguage {
    background-color: #2F75A1;
    color:white;
    font-size: 12px;
    font-weight: 500;
    border-radius: 0px;
    outline: none;
    margin: 0 5px 0 5px;
}

.headerdropdownbuttonlink {
    min-width: 100%;
    height: 100%;
    padding: 15px 40px 15px 40px;
}

.dropdownclassstyle {
   height: auto;
   margin-left: 5px;
   width: auto;
}

.dropdownmenustyle {
    font-size: 0.7rem;
    font-weight: 600;
    border-radius: 5px;    
}

.dropdownplaceholderstyle {
    font-size: 0.7rem;
    font-weight: 600;
}

.Dropdown-control {
    background-color: #2F75A1;
    color: white;
    height: 30px;
    width: auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.Dropdown-option.is-selected {
    background-color: #95BD52;
    color: white;
}

.Dropdown-option{
    background-color: #2F75A1;
    color: white;
}

.Dropdown-arrow {
    border-color: white transparent transparent;
}

.is-open .Dropdown-arrow {
    border-color: transparent transparent white;
}



@media screen and (max-device-width: 650px) {
    .headerbreak {
        display: block;
    }
    .dropdownlink {
        display: none;
    }
    .bottom,
    .bottomSticky {
        display: none;
    }
    .logobig {
        display: none;
    }
    .contact {
        display: none;
    }
    .links {
        display: none;
        font-size: 0.8rem;
        text-align: left;
    }
    .top {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding-left: 20px;
    }
    .container {
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
        position: fixed;
    }
    .middle {
        background-color: rgba(255,255,255,0.95);
        height: auto;
        width: 100%;
    }
    .containersticky {
        position: sticky;
        margin-bottom: 0;
    }
    .dropdownsublinkslrn {
        width: 80vw;
        padding: 4px 8px 7px 8px;
    }
    .headerdropdownlanguage {
        margin-left: 0px;
    }
    .Dropdown-control {
        margin-right: 20px;
    }
    .headeremaillink {
        display: none;
    }
}

@media screen and (max-width: 1700px) {
    .container {
        width: 92vw;
        margin-left: 4vw;
        margin-right: 4vw;
    }
}

@media screen and (max-width: 1400px) {
    .container {
        width: 98vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
}

@media screen and (max-width: 1000px) {
    .navLinks {
        font-size: 14px;
        line-height: 1.4;
    }
}

@media screen and (max-width: 900px) {
    .headerdropdownbuttonlink {
        width: auto;
        padding-left: 10px;
        padding-right: 10px;    
    }
    .dropdownlink {
        width: auto;
    }
    .headerphones {
        display: none;
    }
    .contact {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }
    .dropdownmenustyle {
        font-size: 0.5rem;
    }
    .dropdownplaceholderstyle {
        font-size: 0.5rem;
    }
    .Dropdown-control {
        width: 90px;
    }
    .headeremaillink {
        font-size: 0.6rem;
    }
}


@media screen and (max-width: 600px) {
    .navLinks {
        font-size: 10px;
        line-height: 1.4;
    }
    .dropdownlink {
        border-right: 1px solid white;
    }
    .headerdropdownbuttonlink {
        width: auto;
        padding-left: 2px;
        padding-right: 2px;
        margin-left: 2px;
        margin-right: 2px; 
    }
    .headerlanguagelabel {
        display: none;
    }
    .headerdropdownlanguage {
        height: 30px;
        font-size: 0.5rem;
    }
    .headertopleftside {
        align-items: center;
    }
    /* .top {
        padding-left: 5px;
    } */
}