.cookielinkfooter {
    text-transform: capitalize;
}

.footercontainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #3077A4;
    width: 92vw;
    margin-left: 4vw;
    margin-right: 4vw;
    padding-bottom: 3vh;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.2);
}

.footercontent {
    margin-top: 50px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footerleft {
    width: 50%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
}

.footerright {
    width: 50%;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
}

.footerlinks {
    width: auto;
    text-align: left;
    color: white;
    font-size: 1.3rem;
    line-height: 1.8;
    text-transform: uppercase;
}

.footeremaillink {
    font-weight: 400;
    color: white;
    font-size: 0.8rem;
}

.footeremaillink:hover {
    color: rgba(255,255,255,0.5);
}

.footersociallogo {
    height: 80px;
    width: 80px;
    padding: 5px;
    margin-bottom: 0;
}

.footersociallink {
    cursor: pointer;
}

.footeremaillink {
    color: white;
    cursor: pointer;
}

.footeremaillink:hover {
    color: rgba(255,255,255,0.5);
}

@media screen and (max-width: 1400px) {
    .footercontainer {
        width: 98vw;
        margin-left: 1vw;
        margin-right: 1vw;        
    }
}

@media screen and (max-width: 800px) {
    .footerlinks {
        font-size: 1rem;
        line-height: 1.2;
    }
    .footeremaillink {
        font-size: 0.9rem;
    }
    .footersociallogo {
        height: 65px;
        width: 65px;
    }    
}

@media screen and (max-device-width: 650px) {
    .footerright {
        flex-flow: column;
        padding-right: 20px;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .footercontainer {
        padding-bottom: 30px;
    }
    .footerlinks {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
    }
}