.lrnexaminfo {
  width: 100%;
}

.lrnbreakdown {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.05);
}

.lrnbreakdownleft,
.lrnbreakdownright {
  text-align: left;
}

.lrnbreakdownleft {
  display: flex;
  flex-flow: column;
  margin: 5vh 0vw 10vh 7vw;
  width: 30%;
}
.lrnbreakdownright {
  margin: 5vh 7vw 10vh 0vw;
  width: 70%;
}
.exambutton {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0 20px 0;
  text-align: left;
  background-color: transparent;
  border: none;
  width: 70%;
  outline: none;
}
.lrnbuttonicons {
  height: 15px;
  width: 15px;
  margin-bottom: 0;
  margin-right: 10px;
}

@media screen and (max-device-width: 650px) {
  .lrnbreakdown {
    flex-flow: column;
  }
  .lrnbreakdownright {
    width: 90%;
  }
  .lrnbreakdownleft {
    flex-flow: row;
    width: 100%;
    margin: 0;
  }
  .exambutton {
    width: 200px;
    justify-content: center;
  }
  .lrnbuttontext {
    display: none;
  }
  .lrnbuttonicons {
    width: 35px;
    height: 35px;
  }
}