.cookiecontainer {
  position: fixed;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  bottom: 0;
  left: 0;
  height: auto;
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: #2F74A1;
  z-index: 99;
  -webkit-box-shadow: 0px -2px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -2px 16px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -2px 16px 0px rgba(0,0,0,0.75);
}

.closecookie {
  cursor: pointer;
  color: white;
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
  margin: 0 5px;
  width: auto;
  height: 35px;
  font-weight: bold;
}

.cookielink {
  text-decoration: underline;
  font-weight: bold;
  color: lightgray;
}